body {
    font-family: Fira Sans, Helvetica, sans-serif;
    font-weight: 300;
    background: #e9e9e9;
    margin: 0;
}

section {
    margin: 0 auto;
    width: 56em;
    background: white;
}

header {
    padding: 1em;
    width: 54em;
    color: white;
    background: #4e4e4e;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

canvas {
    width: 32em;
    height: 32em;
}

table {
    display: block;
    width: 20em;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 1em;
    text-align: left;
    table-layout: fixed;
}


table tr:nth-child(2n+1) {
    background: rgba(78, 78, 78, 0.1);
}

table th, table td {
    padding: 0.1em 0.25em;
}

table#total-cost th, table#unit-info th ,table#simulation-info th{
    font-weight: inherit;
    width: 100%;
}

table#total-cost td, table#unit-info td, table#simulation-info td{
    text-align: right;
}

table#unit-selector th, table#order-table th {
    width: 100%;
    color: white;
    background: #4e4e4e;
}

table#unit-selector td, table#order-table td {
    width: 100%;
}

table#unit-selector tr:hover, table#order-table tr:hover {
    color: white;
    background: SteelBlue;
    font-weight: 500;
}

table#unit-selector .selected, table#order-table .selected {
    color: white;
    font-weight: 500;
    background: SteelBlue;
}

canvas {
    border: 1px solid black;
}

textarea {
    display: block;
}

input {
    display: block;
}

button {
    padding: 0.2em;
    background: inherit;
    border: none;
}

button:hover {
    color: white;
    background: SteelBlue;
    font-weight: 500;
}

canvas#plot{
    height:8em;
    width:32em;
}

div#application {
    width: 32em;
}

div#preset {
    width: 16em;
}

div#sim-info {
    width: 16em;
}

div#footer {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6, th, b {
    font-weight: 500;
}
